---
---

<div class="pointer-events-none fixed inset-x-0 top-0 z-50 h-[3px]">
  <div id="reading-progress-bar" class="h-full bg-terracotta transition-[width] duration-75" style="width: 0%"></div>
</div>

<script src="../scripts/reading-progress.ts"></script>
